html,
body {
    height: 100%;
    width: 100%;
}

#container {
    position: fixed;
    width: 100%;
    height: 100%;
    top:0px;
    left : 0px;
    right: 0px;
    bottom: 0px;
    z-index: -99999;
}


#info {
    position: absolute;
    top: 43%;
    padding: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 17px;
    font-family: monospace;
}
#info a:link, #info a:visited, #info a:active {
    color: white;
}
#info a:hover {
    color: hotpink;
}